<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello, world!</title>
</head>

<body>
  <h1>
    <%= timestamp %>
  </h1>

  <div>
    <button id="dialog">open dialog</button>
    <button id="reload">reload this page</button>
  </div>

  <div>
    <iframe src="/" sandbox></iframe>
  </div>

  <script src="./tableau-extensions-0.12.8.js"></script>
  <script src="./index.js"></script>
</body>

</html>